/* $Id$
 */
body {
	background:white;
	font-size:100.01%;
	margin:0;
	padding:0;
	}
body,p,td,th,input,submit {
	font-family:arial,helvetica,sans-serif;
	}
* html body   {font-size:0.8em}
* html p      {font-size:0.8em}
* html td     {font-size:0.8em}
* html th     {font-size:0.8em}
* html input  {font-size:0.8em}
* html submit {font-size:0.8em}
td {
	vertical-align:top
	}
a {
	color:black;
	font-weight:none;
	text-decoration:none;
	}
a:hover {
	text-decoration:underline;
	}

div.content {
	padding:1em 1em 1em 1em;
	position:absolute;
	width:97%;
	z-index:100;
	}

/* Page header and apc logo
 */
h1.apc {
	background:#CC6600;
	margin:0;
	padding:0.5em 1em 0.5em 1em;
	}
* html h1.apc {
	margin-bottom:-7px;
	}
h1.apc div.logo span.logo {
	background:white;
	color:#CC6600;
	font-size:1em;
	padding-left:2em;
	padding-right:1em;
	text-align:right;
	}
h1.apc div.logo span.name {
	color:white;
	font-size:0.7em;
	padding:0 0.8em 0 2em;
	}
h1.apc div.nameinfo {
	color:white;
	display:inline;
	font-size:0.4em;
	}
h1.apc div.copy {
	color:black;
	font-size:0.4em;
	position:absolute;
	right:1em;
	}
hr.apc {
	background:white;
	border-bottom:solid #6c6b6b 1px;
	border-style:none;
	border-top:solid #6c6b6b 10px;
	height:12px;
	margin:0;
	margin-top:1px;
	padding:0;
}

/* page menu
 */
ol,menu {
	margin:1em 0 0 0;
	padding:0.2em;
	}
ol.menu li {
	display:inline;
	margin-left:2em;
	}
ol.menu a {
	background:#E19E00;
	border:solid #6c6b6b 2px;
	color:white;
	font-weight:bold;
	margin-right:1em;
	padding:0.1em 0.5em 0.1em 0.5em;
	text-decoration:none;
	}
ol.menu a:hover {
	text-decoration:underline;
	}

/* info panel
 */
div.info {
	background:#6c6b6b;
	border:solid #6c6b6b 1px;
	margin-bottom:1em;
	}
div.info h2 {
	background:#6c6b6b;
	color:white;
	font-size:1em;
	margin:0;
	padding:0.1em 1em 0.1em 1em;
	}
div.info table {
	border:solid #6c6b6b 1px;
	border-spacing:0;
	width:100%;
	}
div.info table th {
	background:#6c6b6b;
	color:white;
	margin:0;
	padding:0.1em 1em 0.1em 1em;
	}
div.info table th a.sortable {
	color:white;
	}
div.info table tr.tr-0 {
	background:#E19E00;
	}
div.info table tr.tr-1 {
	background:#d88600;
	}
div.info table td {
	padding:0.3em 1em 0.3em 1em;
	}
div.info table td.td-0 {
	border-right:solid #c87600 1px;
	white-space:nowrap;
	}
div.info table td.td-n {
	border-right:solid #c87600 1px;
	}

/* graph panel
 */
div.graph {
	background:#6c6b6b;
	border:solid #6c6b6b 1px;
	margin-bottom:1em
	}
div.graph h2 {
	background:#6c6b6b;
	color:white;
	font-size:1em;
	margin:0;
	padding:0.1em 1em 0.1em 1em;
	}
div.graph table {
	border:solid #6c6b6b 1px;
	color:white;
	font-weight:bold;
	width:100%;
	}
div.graph table td.td-0 {
	background:#E19E00;
	}
div.graph table td.td-1 {
	background:#d88600;
	}
div.graph table td {
	padding:0.2em 1em 0.2em 1em;
	}

div.div1,div.div2 {
	margin-bottom:1em;
	width:35em;
	}
div.div3 {
	position:absolute;
	left:37em;
	top:1em;
	right:1em;
	}

/* other stuff
 */
div.version {
	border-top:solid #888 1px;
	bottom:1em;
	color:#777;
	font-size:0.7em;
	position:absolute;
	text-align:center;
	width:100%;
	z-index:1;
	}

div.sorting {
	margin:1.5em 0em 2em 2em
	}
.center {
	text-align:center
	}
.right {
	position:absolute;right:1em
	}
input {
	background:#E19E00;
	border:solid #6c6b6b 2px;
	color:white;
	font-weight:bold;
	margin-right:1em;
	padding:0.1em 0.5em 0.1em 0.5em;
	}
